@font-face {
  font-family: "iconfont"; /* Project id 2903494 */
  src: url('iconfont.eot?t=1635578554943'); /* IE9 */
  src: url('iconfont.eot?t=1635578554943#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1635578554943') format('woff2'),
       url('iconfont.woff?t=1635578554943') format('woff'),
       url('iconfont.ttf?t=1635578554943') format('truetype'),
       url('iconfont.svg?t=1635578554943#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: "\e63b";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin:before {
  content: "\e62f";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-shejiaotubiao-06:before {
  content: "\e641";
}

.icon-matuwang-zhihufangxingdianji:before {
  content: "\e611";
}

